{
    "parserOptions": {
        "ecmaVersion": 2021,
        "ecmaFeatures": {
            "jsx": true
        },
        "sourceType": "module",
        "project": "./tsconfig.json"
    },
    "parser": "@typescript-eslint/parser",
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "plugins": [
        "import",
        "react",
        "@typescript-eslint",
        "react-hooks"
    ],
    "extends": [
        "airbnb",
        "airbnb-typescript"
    ],
    "rules": {}
}