{
    "parserOptions": {
        "ecmaVersion": 2021,
        "ecmaFeatures": {
            "jsx": true
        },
        "sourceType": "module",
        "project": "./tsconfig.eslint.json"
    },
    "parser": "@typescript-eslint/parser",
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "plugins": [
        "import",
        "react",
        "@typescript-eslint",
        "react-hooks"
    ],
    "extends": [
        "airbnb",
        "plugin:react-hooks/recommended"
        // "airbnb-typescript"
    ],
    "rules": {
        "react/function-component-definition": "off",
        "linebreak-style": "off",
        "import/prefer-default-export": "off",
        "max-len": [
            "warn",
            {
                "code": 140,
                "ignoreComments": true,
                "ignoreStrings": true,
                "ignoreTemplateLiterals": true
            }
        ],
        "no-underscore-dangle": "off",
        "quotes": "off"
    }
}