.main {
  height: 80px;
  width: 88%;
  border: solid 2px #c9c2ec;
  border-radius: 40px;
  margin: 20px 0 20px 15px;
  position: relative;
}

.main:hover{
  transform: scale(1.05);
}

.main::after {
  position: absolute;
  top: 30%;
  left: 25%;
  content: 'Перетащите начинку';
}

.mainHover{
  composes: main;
}

.mainHover::after {
  content: ' ';
}
