.preloader {
  margin: auto;
  height: 50px;
  width: 50px;
  border-left: 3px solid  #3311af;
  border-bottom: 3px solid  #3311af;
  border-right: 3px solid  #3311af;
  border-top: 3px solid transparent;
  border-radius: 50%;
  animation: spinner 1s linear infinite;
}

@keyframes preloader {
  from {
      transform: rotate(0deg);
  }

  to {
      transform: rotate(360deg);
  }
}