.form {
  display: flex;
  flex-direction: column;
  width:480px;
  gap: 24px;
}

.form div {
  width:100%
}

.form svg {
  margin-left: 190px;
}

.buttons_container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
